@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope.ttf'); /* Assuming the font file is in a 'fonts' folder */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Manrope';
  }
.Vision {
    width: 100%;
    max-width: 1079.9px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}


.texts {
    width: 100%;
    max-width: 524px;
    gap: 32px;
    opacity: 1;
    padding-top: 7rem;
}

.mainhead {
    width: 100%;
    max-width: 388px;
    gap: 13px;
    opacity: 1;
    flex: 1;
}

.mainhead p {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    opacity: 1;
}

.mainhead h2 {
    font-family: Manrope;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -0.03em;
    text-align: left;
    opacity: 1;
}

.para {
    flex: 2;
}

.para p {
    width: 100%;
    max-width: 524px;
    opacity: 1;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #565B69;
}

.line {
    width: 100%;
    max-width: 388px;
    height: 0px;
    gap: 0px;
    border-top: 1px solid #D9D9D9;
    opacity: 1;
}

.imagevision {
    width: 100%;
    max-width: 456.93px;
    height: 556.2px;
    gap: 0px;
    opacity: 1;
}



@media screen and (max-width: 768px) {
    .Vision {
        flex-direction: column; 
        align-items: center; 
    }
    .group-icon{
        width: 100%;
    }
    .texts {
        padding: 0rem;
        padding-top: -5rem;
    }
    .texts1{
    padding-top: -5rem;
    }
    .mainhead,.para{
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 1rem;
    }
    .mainhead h2 {
        font-size: 36px; /* Example adjustment for smaller screens */
    }
    .groupiicon{
        width: 100%;    
    }
    .texts1{
        padding-top: -5rem;
    }
}

@media screen and (max-width: 450px) {
    .mainhead,.para{
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 1rem;
    }
    .imagevision{
        margin-left: 2rem;
    }
    .group-icon{
        width: 50%;
    }
    
    
}
